<template>
    <VueDragResize :isActive="true" :isResizable="responsive" :w="width" :h="height" v-on:resizing="refreshEditorWindow" :isDraggable="false" class="vue-drag" :sticks="['br']" :minw="300" :minh="300" :parentLimitation="true" :parentW="parent_w" :parentH="parent_h">
        <font-awesome-icon icon="arrows-alt-h" :transform="{ rotate: 45 }" class="expand-icon" v-bind:class="{hide: !responsive}"/>
        <div class="vue-code-mirror">
            <div id="codemirror-editor">
            </div>
        </div>
    </VueDragResize>
</template>
<script>
import CodeMirror from 'codemirror/lib/codemirror.js';
import 'codemirror/mode/htmlembedded/htmlembedded.js';
import 'codemirror/keymap/sublime.js';
import 'codemirror/addon/search/searchcursor.js';
import 'codemirror/addon/search/search.js';
import 'codemirror/addon/dialog/dialog.js';
import 'codemirror/addon/edit/matchbrackets.js';
import 'codemirror/addon/edit/closebrackets.js';
import 'codemirror/addon/comment/comment.js';
import 'codemirror/addon/wrap/hardwrap.js';
import 'codemirror/addon/fold/foldcode.js';
import 'codemirror/addon/fold/brace-fold.js';

import HTML from 'html';
import VueDragResize from 'vue-drag-resize';

export default {
    name: "VueCodeMirror",
    components: {
        VueDragResize
    },
    props: {
        value: {
            type: String,
            default: "<html> YOUR HTML HERE </html>"
        },
        width: {
            type: Number,
            default: 400
        },
        height: {
            type: Number,
            default: 400,
        },
        responsive: {
            type: Boolean,
            default: true
        },
        config: {
            type: Object,
            default: {
            }
        }
    },
    data: () => {
        return {
            codemirror: null,
            default_cm_config: {
                mode: "htmlembedded",
                lineWrapping: false,
                lineNumbers: true,
                tabSize: 2,
                theme: 'lesser-dark',
                keyMap: "sublime",
                autoCloseBrackets: true,
                matchBrackets: true,
                showCursorWhenSelecting: true,                
            }
        }
    },
    computed: {
        cm_config: function() {

            return Object.assign(Object.assign(this.default_cm_config, {value: this.value}), this.config);
        },
        parent_w: function(){            
            return this.width * 1;
        },
        parent_h: function(){            
            return this.height * 1;
        }
    },

    methods: {
        refreshEditorWindow: function(newRect) {
            this.codemirror.getWrapperElement().style.height = newRect.height;
            this.codemirror.refresh();
        }
    },
    watch: {

    },
    mounted: function() {
        var cm = null;
        this.cm_config.value = HTML.prettyPrint(this.cm_config.value);
        this.cm_config.value = this.cm_config.value.replace(/    /, '  ');
        this.codemirror = cm = CodeMirror(document.getElementById('codemirror-editor'), this.cm_config);
        this.$emit('input', this.codemirror.getValue()); //if using default value, send back update to parent
        cm.on('change', (cm, obj) => {
            this.$emit('input', this.codemirror.getValue());
        })

        var charWidth = cm.defaultCharWidth() * 2, basePadding = 2;                
        cm.on("renderLine", function(cm, line, elt) {
            var off = CodeMirror.countColumn(line.text, null, cm.getOption("tabSize")) * charWidth;
            elt.style.textIndent = "-" + off + "px";
            elt.style.paddingLeft = (basePadding + off) + "px";
        });
        cm.refresh();
    }
};
</script>
<style>
.vue-drag{
    position:relative;    
    padding: 10px;
}

.vue-drag.vdr.active:before{
    outline: none;
}

.vdr-stick-br{
    background-color: transparent;
    border: 0px white solid;
    box-shadow: none;
    -webkit-box-shadow: none;
    width: 18px !important;
    height: 18px !important;
    bottom: -9px !important;
    right: -8px !important;    
}

.expand-icon{
    color: #AAA;
    font-size: 12px;
    position: absolute;
    bottom: -9px;
    right: -8px;
   /* border: 1px #EEE solid;*/
    padding: 2px;
    -webkit-box-shadow: 0 0 2px #bbb;
    box-shadow: 0 0 2px #bbb;    
}
.expand-icon.hide{
    display:none;
}


.vue-code-mirror {
    position: relative;
    height: 100%;
}

.CodeMirror {
    position: relative;
    border: 1px solid #eee;
    height: 100%;
}

#codemirror-editor{
    height: 100%;
}

.CodeMirror-scroll {
    height: 100%;
    overflow-y: auto;
    overflow-x: auto;
}
</style>